<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>ورود مدیریت</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
</head>
<body>

<div class="login-page glass">

<h1>Lunashid</h1>
<p>ورود به مدیریت فروشگاه</p>

<form method="POST">

<input name="username" placeholder="نام کاربری">
<input name="password" type="password" placeholder="رمز عبور">

<button class="button primary">ورود</button>

</form>

</div>

</body>
</html>


