<aside class="admin-sidebar">

<div class="admin-logo">

<div class="admin-logo-mark">L</div>

<div>
<strong>LUNASHID</strong>
<small>ADMIN STUDIO</small>
</div>

</div>

<nav class="admin-menu">

<a href="{{ url_for('admin_dashboard') }}">
📊 داشبورد
</a>

<a href="{{ url_for('admin_products') }}">
◈ محصولات
</a>

<a href="{{ url_for('admin_users') }}">
♙ کاربران
</a>

<a href="{{ url_for('admin_orders') }}">
▣ سفارش‌ها
</a>

<a href="{{ url_for('admin_chat') }}">
◌ چت مستقیم
</a>

<a href="{{ url_for('admin_customize') }}">
✦ شخصی‌سازی سایت
</a>

<a href="/" target="_blank">
↗ مشاهده سایت
</a>

<a href="{{ url_for('admin_logout') }}">
⇥ خروج
</a>

<a href="{{ url_for('track_order') }}">
    پیگیری سفارش
</a>
</nav>

</aside>



